html {
	--electric: rgb(250, 192, 0);
	--water: rgb(41, 128, 239);
	--fire: rgb(230, 40, 41);
	--bug: rgb(145, 161, 25);
	--normal: rgb(159, 161, 159);
}

body {
	background-color: gray;
}

.deck {
	display: flex;
	gap: 1rem;
}

.pokemon-card {
	border: 0.5rem solid yellow;
	border-radius: 10px;
	padding: 0.5rem;
}

.pokemon-img {
	background-color: whitesmoke;
	border: 0.5rem solid yellow;
	width: 10rem;
}

.electric {
	background-color: var(--electric);
}

.water {
	background-color: var(--water);
	color: white;
}

.fire {
	background-color: var(--fire);
}

.bug {
	background-color: var(--bug);
}

.normal {
	background-color: var(--normal);
}
